Here is a chunk of a summarized DOM tree:
```
{{ dom_chunk }}
```
Please analyze this DOM chunk along with the screenshot of the page to identify CSS selectors that could be used for web scraping a list of {{ item_label }}s and their attributes, as well as pagination or infinite scroll elements.

Content type: {{ content_type }}
Description: {{ content_description }}

IMPORTANT: Look carefully for next page and navigation elements. These might include:
- Traditional pagination (numbered pages, "Next" links)
- "Load More" or "More" buttons that might trigger more {{ item_label }}s or data to load
- Infinite scroll indicators or loading elements
- Any navigation that loads additional content

Note: Some pages use infinite scroll without visible next page or load more indicators - this is normal and should result in empty next_page_selectors.

Return your answer as a JSON object with this EXACT format:
{
  "item_selectors": ["selector1", "selector2", "selector3"],
{% for field in fields %}
  "{{ field.name }}_selectors": ["selector1", "selector2"],
{% endfor %}
  "next_page_selectors": ["selector1", "selector2"]
}

If you think a selector is over 50 characters, you are probably wrong. Do not repeat selectors - only return unique ones. If there is any '+' in the selectors, make sure you're not including many of the same element.

For item_selectors, include selectors for:
- Any container that holds a {{ item_label }} (.article, .post, .item, .card, etc.). Ideally, it should contain links and the key fields listed below.

Within those containers, look for selectors for each of these fields:
{% for field in fields %}
- **{{ field.name }}**: {{ field.description }}
{% endfor %}

For next_page_selectors, include selectors for:
- Next page links (.next, .page-next, [aria-label*="next"], etc.)
- Load more buttons (.load-more, .show-more, buttons that might auto-trigger, etc.)
- Pagination containers (.pagination, .pager, etc.)
- Any elements that indicate more content can be loaded

If you don't see clear next page/load-more indicators or other selectors, return an empty array. Be conservative - if unsure, return an empty array.

Only return the JSON object, no other text or markdown formatting.
